<table>
    <thead>
    <tr>
        <th>Thing ID: {{thing.id}}, name: {{thing.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td >
            <div ng-repeat="link in thing.links" class="thumbnail">
                <a ng-click="setGalleryImg(link)">
                    <img ng-src="{{link}}">
                </a>
            </div>
        </td>
    </tr>
    <tr >
        <td class="gallery-view">
            <img ng-src="{{galleryLink}}">
        </td>
    </tr>
    </tbody>
</table>
