<input type="text" ng-model="thingsList.search" class="search-query" id="things_search"
       placeholder="Search">
<table>
    <thead>
    <tr>
        <th>Thing</th>
        <th>Thumbnail</th>
    </tr>
    </thead>
    <tbody class="thingsList">
        <tr ng-repeat="thing in thingsList | filter:query">
            <td>{{thing.name}}</td>
            <td class="thumbnail">
                <a ng-href="./detail/{{thing.id}}">
                    <img ng-src="{{thing.links[0]}}">
                </a>
            </td>
        </tr>
    </tbody>
</table>
